<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nayanjai.duhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DUHelper.NoActionBar">
        <activity
            android:name=".PDFVIEWER.PDFViewPager"
            android:exported="true" />
        <activity
            android:name=".EBOOKS.UG.UG_EBK_COURSE"
            android:exported="true" />
        <activity
            android:name=".EBOOKS.UG.UG_EBK_PAPERS"
            android:exported="true" />
        <activity
            android:name=".EBOOKS.UG.UG_EBK_LINKS"
            android:exported="true" />
        <activity
            android:name=".PYQ.UG.UG_PYQ_PAPERS"
            android:exported="true" />
        <activity
            android:name=".PYQ.UG.UG_PYQ_LINKS"
            android:exported="true" />
        <activity
            android:name=".PYQ.UG.UG_PYQ_COURSE"
            android:exported="true" />
        <activity
            android:name=".SYLLABUS.UG.UG_SYL_COURSES"
            android:exported="true" />
        <activity
            android:name=".SYLLABUS.UG.UG_SYL_PAPERS"
            android:exported="true" />
        <activity
            android:name=".SYLLABUS.UG.UG_SYL_LINKS"
            android:exported="true" />
        <activity
            android:name=".DOWNLOADS.DownloadActivity"
            android:exported="true" />
        <activity
            android:name=".EBOOKS.eBooksActivity"
            android:exported="true"
            android:theme="@style/Theme.DUHelper.NoActionBar" />
        <activity
            android:name=".OTHERS.OthersActivity"
            android:exported="true" />
        <activity
            android:name=".PYQ.PYQActivity"
            android:exported="true" />
        <activity
            android:name=".SYLLABUS.SyllabusActivity"
            android:exported="true" />
        <activity
            android:name=".FullView"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>